fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
pydantic[email]
python-multipart

# Auth
python-jose[cryptography]
passlib[bcrypt]

# AI / Image
httpx
openai
requests

# Payment
razorpay
stripe

# Existing
aiohttp
faster-whisper
imageio-ffmpeg
